*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
.all{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    background:url(invitation.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: end;
    align-items: center;
    transition: 3s;
}
.content{
    text-align: center;
    margin-right: 118px;
    color: white;
    font-family: cursive;
    display: grid;
    justify-content: end;
}
.content h1{
    font-size: 50px;
}
.content h2{
    margin: 14px 0px;
    width: 30rem;
}
.content button{
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    background: red;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 900;
}
.content_container{
    text-align: center;
}
.video video{
    width: 100%; 
    height: auto;
    position: absolute;
    top:0;
    right: -100%;
    transition: all linear 3.5s;
}
.slider_video video{
    right: 0;
}
.container_hide{
    opacity: 0;
}

@media only screen and (max-width:1200px){
    body{
        overflow: hidden;
    }
}
@media only screen and (max-width:535px){
    .content h1{
        font-size: 40px;
    }
    .content h2{
        font-size: 15px;
    }
}